// Breakpoints
$tablet-bp: 1319.98px;
$mobile-bp: 559.98px;

// Units

:root {
    // Colors
    --bg-color: #fff;
    --bg-color-light: #F4F6F8;
    --primary-color: #F50E30;
    --primary-color-light: #ffd7dd;
    --text-color: #000;
    --text-color-light: #fff;

    // Fonts
    --main-font: "Inter", "Arial", sans-serif;
}
