.btn {
    display: inline-block;
    padding: 18px 54.5px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: var(--text-color-light);
    background-color: var(--primary-color);
    border-radius: 8px;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--text-color);
        background-color: var(--bg-color-light);
    }

    &:active {
        background-color: var(--primary-color-light);
        transform: scale(0.98);
    }

    &:focus {
        outline: 2px solid var(--text-color);
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
