.nav {
    display: flex;
    align-items: center;

    &__logo {
        width: 60px;
    }

    &__menu {
        margin-left: 170px;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;

    &__link {
        color: var(--text-color);
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.32px;

        &:hover {
            color: var(--primary-color);
        }
    }
}
